In [24]:
import pandas as pd
from src import utils

- Ambil kolom yang penting saja
- Maunya buat is_holiday, tapi gak ada data ya sudah.

# Baca Config

In [28]:
CONFIG_FILE = utils.config_load()
CONFIG_FILE

{'raw_dataset_path': 'data/raw/sales_history.csv',
 'dataset_path': 'data/output/data.pkl',
 'dataset_train_path': 'data/output/data_train.pkl',
 'dataset_test_path': 'data/output/data_test.pkl',
 'X_train_path': 'data/output/X_train.pkl',
 'X_train_clean_path': 'data/output/X_train_clean.pkl',
 'y_train_path': 'data/output/y_train.pkl',
 'X_test_path': 'data/output/X_test.pkl',
 'X_test_clean_path': 'data/output/X_test_clean.pkl',
 'y_test_path': 'data/output/y_test.pkl',
 'datetime_col': 'Date',
 'features_col': ['Year', 'Month', 'Day'],
 'target_col': 'Weekly_Sales',
 'last_date_train': '2012-01'}

In [29]:
def preprocess_data(
    data=None, 
    type=None, 
    CONFIG_FILE=None, 
    return_file=False):
    """preprocess the data"""
    # load the data
    if type is not None:
        fname = CONFIG_FILE[f'X_{type}_path']
        data = utils.pickle_load(fname)
        
        # Validate
        print(f'Data on {fname} has been loaded')
        print('Data shape :', data.shape)
        
    # Extract date
    data['Year'] = data['Date'].dt.year
    data['Month'] = data['Date'].dt.month
    data['Day'] = data['Date'].dt.day
    
    # Validate
    print('Data shape:', data.shape)
    
    # Dump data
    if type is not None:
        utils.pickle_dump(data, CONFIG_FILE[f'X_{type}_clean_path'])
    
    if return_file:
        return data

In [30]:
X_train_clean = preprocess_data(type='train', 
                                CONFIG_FILE=CONFIG_FILE,
                                return_file=True)

X_train_clean.head()

Data on data/output/X_train.pkl has been loaded
Data shape : (100, 3)
Data shape: (100, 6)
Data has been dumped to path: data/output/X_train_clean.pkl

   Store  Dept       Date  Year  Month  Day
0      1     1 2010-02-05  2010      2    5
1      1     1 2010-02-12  2010      2   12
2      1     1 2010-02-19  2010      2   19
3      1     1 2010-02-26  2010      2   26
4      1     1 2010-03-05  2010      3    5

In [31]:
X_test_clean = preprocess_data(type='test', 
                               CONFIG_FILE=CONFIG_FILE,
                               return_file=True)

X_test_clean.head()

Data on data/output/X_test.pkl has been loaded
Data shape : (43, 3)
Data shape: (43, 6)
Data has been dumped to path: data/output/X_test_clean.pkl

     Store  Dept       Date  Year  Month  Day
100      1     1 2012-01-06  2012      1    6
101      1     1 2012-01-13  2012      1   13
102      1     1 2012-01-20  2012      1   20
103      1     1 2012-01-27  2012      1   27
104      1     1 2012-02-03  2012      2    3